@{
    ViewData["Title"] = "About Policy";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong> <a href="http://10.0.0.102/otrs/index.pl">Chamado.com.br</a>
    
</address>
